{% extends 'base.html.twig' %}

{% block title 'Update Profile' %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <h1 class="text-center my-5">{{ 'Update Profile'| trans }}</h1>
        {{ form_start(monForm) }}
        {{ form_row(monForm.firstname) }}
        {{ form_row(monForm.lastname) }}
        {{ form_row(monForm.imageFile) }}
        <br><p> 
            <button type="submit" class="btn btn-primary" noformvalidate>{{ 'Apply changes' | trans }} </button>
        </p>
        {{ form_end(monForm) }}   
    </div>
</div>
{% endblock %}