{# {% extends 'base.html.twig' %}

{% block title %}{{ video.title }} - Vidéo Premium{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>{{ video.title }}</h2>
                </div>
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls class="embed-responsive-item">
                            <source src="{{ asset('videos/' ~ video.filename) }}" type="video/mp4">
                            Votre navigateur ne supporte pas la lecture de vidéos HTML5.
                        </video>
                    </div>
                </div>
                <div class="card-footer">
                    <p>{{ video.description }}</p>
                    <p><small>Date de publication : {{ video.createdAt|date('d/m/Y') }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} #}
