{% extends 'base.html.twig' %}



{% block title %}#{{video.id}}#{{video.title}}{% endblock %}

{% block body %}

<div class = "row">
    <div  align = "center" class= "col-md-6 mx-auto">


<article>
<h4> {{video.title | title}}</h4>

   <iframe width="640" height="480" 
            src="{{ video.videoLink | replace({'watch?v=': 'embed/'}) }}" 
            frameborder="0" allowfullscreen></iframe>
<h6> {{video.videoLink}}</h6>
<h6> {{video.description}} </h6>
<h6>Submitted{{ video.createdAt|date('d/m/Y')}}</h6>
<h6>Updated {{ video.updatedAt|date('d/m/Y H:i') }}</h6>
<h6 align="center">By:{{video.user.firstname ~" "~ video.user.lastname}}</h6>
</article>
{% if app.user and app.user.isVerified and video.user.email is same as(app.user.email) %}
 <a class="btn btn-primary btn-sm" href={{ path('app_video_edit', {id: video.id}) }}>Edit video</a>
    <a class= "btn btn-danger btn-sm" href="{{ path('app_video_delete', {id: video.id}) }}" onclick="return confirm('Are you sure you want to delete this vidéo?')">Delete</a>
     {%  endif  %}
    <a class="btn btn-secondary btn-sm" href={{ path('app_home') }}>Go Back</a>
    </div>
</div>
{% endblock %}